
<div class="column is-one-quarter">
  <% if book.image.present? %>
    <div class="card-image">
      <figure class="image is-2by3">
        <%= image_tag book.image.variant(resize_to_limit: [350, 800]).processed, alt: 'product' %>
      </figure>
    </div>
  <% end %>
  <div class="card book">
    <div class="card-content">
    <p class="title is-4">
      <%= link_to book.name, book %>
    </p>
    <ul>
      <li>
        <strong>Author:</strong> <%= book.author %>
      </li>
      <li>
        <strong>Price: </strong><%= number_to_currency book.price_cents / 100.0 %>
      </li>
    </ul>
      <%= form_with url: cart_index_path, method: :post do %>
      <%= hidden_field_tag(:id, book.id, {:id => "book_id_#{book.id}"}) %>
      <%= number_field_tag 'quantity', min='1', {:id => "quantity_id_#{book.id}"}%>
      <%= button_tag 'Add to Cart', class: 'button is-dark mt-2' %>
      <% end %>
    <% if cart.include?(book) %>
      <%= button_to cart_path(book.id), method: :delete, class: 'button is-dark mt-2' do%>
      ➖Remove from cart
      <% end %>
    <% end %>
    </div>
  </div>
</div>

