<header>
  <nav class="navbar is-dark is-spaced has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <%= image_tag "icon-book.png", alt: "menu icon"%>
      </a>
    </div>
    <div id="navbar" class="navbar-menu is-dark is-active">
      <div class="navbar-start is-dark">
        <%= link_to "Home", root_path, class: "navbar-item"%>
        <%= link_to "Books", books_path, class: "navbar-item"%>
        <%= link_to "Genres", genres_path, class: "navbar-item"%>
      </div>
    </div>
    <% if cart.present? %>
      <div class="dropdown is-hoverable pr-5">
        <div class="dropdown-trigger">
          <button class="button is-light" aria-haspopup="true" aria-controls="dropdown-menu4">
            Cart
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content m-1">
            <div class="dropdown-item">
                <ul>
                  <% cart.each do |book| %>
                    <li class="pb-2">
                      <span class="mr-3"><%= book.name %></span> <%= button_to 'Remove', cart_path(book), method: :delete, class: 'button is-light is-small is-pulled-right ml-3'%>
                    </li>
                    <hr class="dropdown-divider">
                  <% end %>
                </ul>
                <button class="button is-dark mt-2">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="">
      <% if current_user %>
        <p class="is-size-7">Currently signed in as:<br> <%= current_user.username%></p>
        <button class="button is-warning is-small is-rounded p-3 mb-1 mt-2"><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></button>
      <% else %>
        <button class="button is-primary is-light is-small is-rounded p-3 mb-1"><%= link_to "Sign Up", new_user_registration_path%></button>
        <br>
        <button class="button is-info is-light is-small is-rounded pr-3.5 mb-1"><%= link_to "Sign In", new_user_session_path%></button>
      <% end %>
    </div>
  </nav>
</header>